:root{
    --margin: 20px;
}

header{
    position: fixed;
    height:60px;
    display:grid;
    grid-template-columns: max-content auto max-content;
    column-gap: var(--margin);
    width:100%;
    border-bottom: 1px solid;
    background: #fff;
    z-index: 9997;
}


.header-nav ul {
    display:flex;
}

.header-nav ul li {
    list-style: none;
    margin-right: var(--margin);
}

.header-user {
    display:flex;
    flex-flow:row;
    align-items: center;
}
.header-user div {
    margin-right: var(--margin);
    cursor: pointer;
    
}

.user-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #ccc;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
}


.user-login {
    font-size:1.3em;
}

.user-icon > i{
    font-size: 24px;
}

.header-nav ul {
    width:100%;
    height: 100%;
    display:flex;
    flex-flow: row;
    align-items: center;
    
}

.header-nav a {
    text-decoration: none;
}

.header-nav {
    font-size:1.3em;
}

.header-home {
    display:flex;
    flex-flow:row;
    justify-content: center;
    height: 100%;
    align-items: center;
    margin-left: var(--margin);
    font-size:1.3em;
}

.header-button {
    display: none;
}


@media screen and (max-width: 700px){
    
    :root{
       --margin: 0px;
    }
    
    .header-user, .header-nav{
        display:none;
    }

    header{
        display:grid;
        grid-template-columns: 80px auto 80px;
    }
}

/*slideToggle menu*/
.user-moblie-info{
    position: fixed;
    top:60px;
    right:15px;
    width:100px;
    height: max-content;
    border:1px solid silver;
    padding:15px;
    font-size:1.2em;
    z-index:9998;
    background:snow;
    display:none;

}

.user-moblie-info ul{
    list-style: none;
}

.user-moblie-info li{
    margin-bottom: 10px;
}