footer{
    width:99.9%;
    display:grid;
    grid-template-columns: 50% auto;
    background: #b1b1b1;
}


.footer-container{
    padding: 10px 3%;
}

.footer-container > div{
    width: 90%;
    padding: 18px 5%;
}


.footer-nav > ul li{
    list-style: none;
    line-height: 1.4em;
}

.footer-nav > ul li a{
    text-decoration: none;
}


.footer-telephone > i{
    transform: rotate(90deg);
}

.map{
    display: flex;
    justify-content: center;
    align-items: center;
}

#map{
    width:100%;
    height:285px;
}

@media screen and (max-width:1050px){
    footer{
        grid-template-columns: 100%;
    }
    
    #map{
        width: 100%;
        height: 100%;
    }
    
    .footer-container{
        border:none;
        border-bottom:1px solid #999;
        padding:15px;
    }
    
    .map{
        height: 340px;
    }
}
